<div class="col-xs-12 col-md-2 bg-light text-center">

  <h4><%= @user.name %></h4>
  <h5>最新投稿一覧</h5>
  <img src="<%= "/user_images/#{@user.image_name}" %>" style="max-width: 120px; height: 120px; border-radius: 40%;">
  <ul>
    <% @new_blogs.first(4).each do |blog| %>
      <li class="my-3">
        <%= blog.created_at.strftime("%Y年%m月%d日") %>
        <br>
        <%= link_to(blog.title, blog , class: "btn btn-outline-warning p-2", remote: true) %>
      </li>
    <% end %>
  </ul>
</div>

