<div class="col-xs-12 col-lg-3 bg-light">
  <p id="notice"><%= notice %></p>

  <h4>最新投稿一覧</h4>
  <ul>
    <% @new_blogs.last(5).each do |new_blog| %>
      <li>
        <%= new_blog.created_at %>
        <br>
        <%= link_to(new_blog.title, "/blogs/#{new_blog.id}", class: "btn btn-outline-warning", remote: true) %>
      </li>
    <% end %>
  </ul>
</div>

