<div>
  <ul>
    <% @blogs.each do |blog| %>
      <li>
        <div class="card mt-2">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= link_to blog.title, blog,class: "btn btn-outline-warning" %></h6>
            <h5 class="card-title"><%= blog.created_at %></h5>
            <p class="card-text"><%= blog.content %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>


