<% if @error_message %>
    <div class="form-error bg-danger text-center py-2">
        <%= @error_message %>
    </div>
<% end %>
<h1 class="text-center p-2">Sign Up</h1>
<div class="user-show col bg-light mx-auto text-center py-3" style="width:500px; min-height:450px;">
    <%= form_tag(users_path) do %>

        <div class="field my-3">
            <p>ユーザー名</p>
            <input name = "name" value="<%= @user.name %>" class="mx-auto form-control col-8" placeholder="5文字以内" >
        </div>

        <div class="field my-3" >
            <p>メールアドレス</p>
            <input name = "email" value="<%= @user.email %>" class="mx-auto form-control col-8" placeholder="example@app.co.jp" >
        </div>

        <div class="field my-3" >
            <p>パスワード</p>
            <input name = "password" class="mx-auto form-control col-8" placeholder="6文字以上">
        </div>
        <div class="field my-3" >
            <p>もう一度パスワード</p>
            <input name = "password2" class="mx-auto form-control col-8" placeholder="6文字以上">
        </div>

        <div class="actions m-4">
            <input type="submit" value="新規登録" class="btn btn-primary">
        </div>
    <% end %>
</div>