// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogs{
    min-height: calc(100vh - 50px);
}

#main .blog-index {
    a:link {color:rgb(0, 0, 0); text-decoration:none }
    a:visited { color:rgb(0, 0, 0); text-decoration:none }
    a:hover { color:rgb(0, 0, 0); text-decoration:none }
    a:active { color:rgb(0, 0, 0); text-decoration:none }
}