<% if flash[:notice] || flash[:error] || flash[:alert] || flash[:success]   %>
    <% flash.each do |key, value| %>
        <div class="fixed-top container" style="margin-top:60px;">
            <div class="alert <%= bs4_bgcolor_for(key) %> alert-dismissable fade show">
            <%= value %>
            <button class="close" data-dismiss="alert">&times;</button>
            </div>
        </div>
    <% end %>
<% end %>